<section class="wrapper">
    <form class="form" [formGroup]="registerForm">
        <div class="data__container">
            <h5 class="form__title" i18n>First name</h5>
            <input class="form__input" formControlName="firstName" name="firstName" type="text" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Second name</h5>
            <input class="form__input" formControlName="secondName" name="secondName" type="text" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Birthday</h5>
            <input class="form__input" formControlName="birthday" name="birthday" type="date" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Email</h5>
            <input class="form__input" formControlName="email" name="email" type="email" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Password</h5>
            <input class="form__input" formControlName="password" name="password" type="password" />
            <p class="form__subtitle">The minimum password length is 8 characters.</p>
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Confirm password</h5>
            <input class="form__input" formControlName="confirmPassword" name="repeatPassword" type="password" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>I am 13 years of age or older and agree to the terms of the <a
                    class="form__link">User Agreement</a> and the <a class="form__link">UFOPay Privacy Policy</a>.</h5>
            <input class="checkbox" name="acceptRules" (click)="rulesHandler()" type="checkbox" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Keep login</h5>
            <input class="checkbox" name="keepLogin" (click)="keepLoginHandler()" type="checkbox" />
        </div>
        <input class="button" type="button" (click)="onSubmit()" [disabled]="registerForm.invalid" i18n value="Register" />
        <a class="register__button" routerLink="/login" i18n>Have account? Login</a>
    </form>
</section>