<section class="wrapper">
    <form class="form" method="post">
        <div class="data__container">
            <h5 class="form__title">First name</h5>
            <input class="form__input" type="text" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Second name</h5>
            <input class="form__input" type="text" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Birthday</h5>
            <input class="form__input" type="date" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Email</h5>
            <input class="form__input" type="email" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Password</h5>
            <input class="form__input" type="password" />
            <p class="form__subtitle">The minimum password length is 8 characters.</p>
        </div>
        <div class="data__container">
            <h5 class="form__title">Confirm password</h5>
            <input class="form__input" type="password" />
        </div>
        <div class="data__container">
            <h5 class="form__title">I am 13 years of age or older and agree to the terms of the <a class="form__link">User Agreement</a> and the <a class="form__link">UFOPay Privacy Policy</a>.</h5>
            <input class="checkbox" type="checkbox" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Keep login</h5>
            <input class="checkbox" type="checkbox" />
        </div>
        <button class="button" type="submit">Register</button>
        <a class="register__button" routerLink="/login">Have account? Login</a>
    </form>
</section>