<section class="wrapper">
    <form class="form" method="post">
        <div class="data__container">
            <h5 class="form__title">Email</h5>
            <input class="form__input" type="email" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Password</h5>
            <input class="form__input" type="password" />
        </div>
        <div class="data__container">
            <h5 class="form__title">Keep login</h5>
            <input class="checkbox" type="checkbox" />
        </div>
        <button class="button" type="submit">Login</button>
        <a class="register__button" asp-controller="Pages" asp-action="Register">Create an account!</a>
    </form>
</section>