<section class="wrapper">
    <form class="form" method="post">
        <div class="data__container">
            <h5 class="form__title" i18n>Email</h5>
            <input class="form__input" type="email" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Password</h5>
            <input class="form__input" type="password" />
        </div>
        <div class="data__container">
            <h5 class="form__title" i18n>Keep login</h5>
            <input class="checkbox" type="checkbox" />
        </div>
        <button class="button" type="submit" i18n>Login</button>
        <a class="register__button" routerLink="/register" i18n>Create an account!</a>
    </form>
</section>