<section class="wrapper">
    <h5 class="dev__mode" i18n>The project is under development, you see an interactive DEMO version made by a252.dev.</h5>

    <div class="info__container">
        <div class="side">
            <h3 class="title" i18n>Accept and send payments <span class="blue__text">all over the world</span></h3>
            <h4 class="subtitle" i18n>Receive payments on the website, social networks or instant messengers from any country.</h4>
            <div class="link__container"><a routerLink="/register" style="margin-left: 0; margin-right: 25px;" class="link border" i18n>Start accepting payments</a><span class="subtitle__info" i18n>Commission from <span style="font-weight: 700;">0.7%</span></span></div>
        </div>
        <asset-image class="asset__image" />
        <!-- <img class="asset__image" src="~/src/assets/index__asset.svg" /> -->
    </div>

</section>